# Tracking Pixels
VITE_FACEBOOK_PIXEL_ID=389130874511080
VITE_GOOGLE_ANALYTICS_ID=
VITE_GOOGLE_ADS_ID=
VITE_CLARITY_ID=
VITE_GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
VITE_WEB3FORMS_ACCESS_KEY=
APP_URL=
